



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
    
    --background_color: #2F4858;
}

/* Generella taggar */
nav {
    height: 100px;
    width: 100%;
    background-color: var(--background_color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Wrappers Phone mode*/
#wrapper_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 300px 300px;
    grid-template-areas:
    "rub"
    "slogan"
    "picture"
    ;
}

#wrapper_hrl {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "rub"
    "picture2" 
    "picture1"
    "text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "rub"
    "etik"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "rub"
    "pic2"
    "pic1"
    "text"
    ;
}


/* Responsiv layout taggar */
.links_visible {
    transform: translateY(500px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: rgb(255, 255, 255);
    border-radius: 20%;
    transition: all 1s;
}

#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 300px;
    position: absolute;
    top: -400px;
    list-style: none;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    border-bottom-left-radius: 30px;
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#link_list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/*Homepage phone mode*/
#rubrik {
    grid-area: rub;
    background-image: url(/img/Main_hlr.jpg);
    background-size: cover;

}

#rubrik_text {
    color: white;
    color: rgb(255, 255, 255);
    font-size: 6rem;
}

#picture_main {
    grid-area: picture;
    background-color: #355A61;
    display: flex;
    align-items: center;
    justify-content: center;

}

#slogan {
    grid-area: slogan;
    background-color:#355A61;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.slagord {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Arial, sans-serif;


}

#context_bild_main {
    width: 200px;
    height: auto;
    border-radius: 20%;
}

.slagord {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    font-size: small;
    position: relative;
    left: 20px;
}
    
/* HRL Phone mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: red;
    height: 100%;
    width: 100%;
}

#text_hlr {
    grid-area: text;
    background-color: green;
}

#picture_hlr_2 {
    grid-area: picture1;
    background-color: blue;
}

#picture_hlr_1 {
    background-color: purple;
    grid-area: picture2;
}


/* Din plikt Phone mode*/

#rubrik_din_plikt {
    grid-area: rub;
    background-color: red;
    height: 100%;
}

#text_din_plikt {
    grid-area: etik;
    background-color: green;

}

/* Om oss Phone mode*/

#rubrik_om_oss {
    grid-area: rub;
    background-color: red;
    height: 100%;
}

#text_om_oss {
    grid-area: text;
    background-color: green;
}

#picture_om_oss_1 {
    background-color: purple;
    grid-area: pic1;
    
}

#picture_om_oss_2 {
    grid-area: pic2;
    background-color: blue;
}


@media screen and (min-width: 800px) {

/*Burger tranformation*/
#burger {

    display: none;
    }
    
    #link_list {
        flex-direction: row;
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0px;
        justify-content: space-evenly;
    }

    #link_list a {
        font-size: 30px;
    }
    
    li {
        background-color:#355A61;
        display: flex;
        width: 100%;
        height: 100%;
    }

    li:hover {
        background-color: black;
        color: white;
    }
    
    a { 
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/* Wrappers computer mode*/

#wrapper_main {
        display: grid;
        height: 100vh;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 400px 600px;
        grid-template-areas: 
        "rub rub"
        "slogan picture"
        ;
}

#wrapper_hrl {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 200px auto;
    grid-template-areas: 
    "rub text"
    "picture2 text"
    "picture2 text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "rub"
    "etik"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas: 
    "rub pic2"
    "pic1 text"
    ;
}



/* Homepage Computer mode*/
#rubrik {
    grid-area: rub;
    background-image: url(/img/Main_hlr.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#rubrik_text {
    color: rgb(255, 255, 255);
    font-size: 6rem;
}

#picture_main {
    grid-area: picture;
    background-color: #355A61;
    display: flex;
    align-items: center;
    justify-content: center;

}



#context_bild_main {
    width: 350px;
    height: auto;
    border-radius: 40px solid white;

}

#slogan {
    grid-area: slogan;
    background-color:#355A61;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;

}

.slagord {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    left: 20px;
    border: 10px solid #2c4a51;
    background-color: #2c4a51;
    border-radius: 8px;

}
/* HRL Computer mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: #47676d;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#inledning_hlr {
    margin-top: 2px;
    color: white;
    width: 80%;
    word-spacing: 2px;
    font-size: 20px;

}

.big_text {
    font-size: 60px;
    margin-top: 60px;
}

#picture_hlr_1 {
    background-color:#47676d;
    grid-area: picture2;
    position: relative;
}

#bild1 {
    width: 350px;
    height: auto;
    position: absolute;
    left: 20%;
    bottom: 40px;
}

#x1_axel {
    position: absolute;
    bottom: 15px;
    right: 25%;
    display: flex;
    flex-direction: row;
    width: 340px;
    justify-content: space-between;
    letter-spacing: 24px;
    color: rgb(255, 102, 0);
}

#y1_axel {
    position: absolute;
    right: 90%;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 5px;
    font-size: medium;
    color: rgb(255, 102, 0);
}

#text_hlr {
    grid-area: text;
    background-color:#47676d;
    /*transform: skew(20deg);*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#intro_7_steg {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: x-large;

}

.steg_7 {
    color: white;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;

}






/* Din plikt Computer mode*/

#rubrik_din_plikt {
    grid-area: rub;
    background-color: red;
    height: 100%;
}


#text_din_plikt {
    grid-area: etik;
    background-color: green;

}

/* Om oss Computer mode*/

#rubrik_om_oss {
    grid-area: rub;
    background-color: red;
    height: 100%;
}

#text_om_oss {
    grid-area: text;
    background-color: green;
}

#picture_om_oss_1 {
    background-color: purple;
    grid-area: pic1;
    
}

#picture_om_oss_2 {
    grid-area: pic2;
    background-color: blue;
}



    }







