


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
    font-family: "Playfair Display", serif;
    font-style: normal;
}

/* Generella taggar */
nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    
    height: 100px;
    width: 100%;
    background-color: var(--background_color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#263f45;
    font-family: 'Courier New', Courier, monospace;
}

/* Wrappers Phone mode*/
#wrapper_main {
    display: grid;
    width: 100%;
    grid-template-columns:1fr;
    grid-template-rows: 200px 300px 400px;
    grid-template-areas: 
    "rub"
    "slogan" 
    "bilder"
    ;
}

#wrapper_hrl {
    display: grid;
    width: 100%;   
    grid-template-columns:1fr;
    grid-template-rows: 200px 300px 300px;
    grid-template-areas: 
    "rub"
    "picture2" 
    "text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 300px 200px 100px;
    grid-template-areas: 
    "rub"
    "etik"
    "tjomme_bild"
    "tjomme_text"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 200px 200px auto;
    grid-template-areas: 
    "rub"
    "text1"
    "pic"
    "text2"
    ;
}


/* Responsiv layout taggar */
.links_visible {
    transform: translateY(500px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: rgb(255, 255, 255);
    border-radius: 20%;
    transition: all 0.5s;
}

#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 200px;
    position: absolute;
    top: -400px;
    background-color:#263f45;
    list-style: none;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    border-bottom-left-radius: 30px;
    transition: 0.5s;
    
    
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#link_list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/*Homepage phone mode*/
#rubrik {
    grid-area: rub;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/main_hlr.jpg);

}


#Logga_om_oss {
    height: auto;
    width: 85%;
}

#slogan {
    grid-area: slogan;
    width: 100%;
    background-color: #355A61;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 0.8rem;
}

#mobil_bilder {
    grid-area: bilder;
    background-color: #063d48;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.context_bild_main {
    border-radius: 50%;
    height: auto;
    width: 20%;

}

    
/* HRL Phone mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: #355A61;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.big_text {
    color: #ffa500;
    font-size: 2rem;
}

#inledning_hlr {
    color: white;
    width: 100%;
    font-size: 1rem;

}

#picture_hlr_1 {
    background-color: #4c7a83;
    grid-area: picture2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bild1 {
    width: 300px;
    height: auto;
}

#text_hlr {
    grid-area: text;
    background-color: #304f56;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    height: 100%;
}

#intro_7_steg {
    color: orange;
    margin: 10px;

}

/* Din plikt Phone mode*/

#but_left {
    height: 40px;
    width: auto;
    position: absolute;
    z-index: 5;
    left: 1%;
}

#but_right {
    height: 40px;
    width: auto;
    position: absolute;
    z-index: 5;
    right: 1%;
}


#rubrik_din_plikt {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    grid-area: rub;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    background-color: #376c77;
    height: 100%;
    width: 100%;
    color: orange;
    
}

#plikt_bak {
    width: 70% ;
    height: auto;
    filter: brightness(40%);
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.7);
}

#text_din_plikt {
    grid-area: etik;
    background-color: #10343b;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
}

#moral_text {
    width: 60%;
    font-size: 0.7rem;
    color: white;
    position: absolute;
    font-family: "Sevillana", cursive;
}

.line {
    font-size: 2rem;
    color: orange;
    word-spacing: 0px;
}


#tjomme_bilder {
    grid-area: tjomme_bild;
    background-color: #1b6371;
    display:grid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tjomme_pic {
    width: 100px;
    height: auto;
}

#tjomme_replik {
    grid-area: tjomme_text;
    background-color: #10343b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tjomme_snackar {
    color: white;
    font-size: calc(1vw +  1.2vh + 1.5vmin);
    display: flex;

}


/* Om oss Phone mode*/

.color {
    color: orange;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
}

#rubrik_om_oss {
    grid-area: rub;
    background-color: #376c77;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#om_oss_intro {
    grid-area: text1;
    background-color: #254a51;
    height: 100%;
    padding: 10px;
    color: white;
    flex-direction: row;
    padding: 20px;
    font-size: 0.9rem;
}

#text_om_oss {
    grid-area: text2;
    background-color: #1a373d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    flex-direction: column;
    font-size: 1.2rem;
}


#picture_om_oss {
    grid-area: pic;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

@media screen and (min-width: 800px) {
    

/*Burger tranformation*/
#burger {

    display: none;
    }
    
    #link_list {
        flex-direction: row;
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0px;
        justify-content: space-evenly;
        
    }

    #link_list a {
        font-size: 2rem;
    }
    
    li {
        background-color:#355A61;
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: underline;
        
    }

    li:hover {
        background-color: #263f45;
        color: white;
        border-bottom: 10px solid black;
        transition: 0.2s;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        text-decoration-color: orange;
    }
    
    a { 
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/* Wrappers computer mode*/
#wrapper_main {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "rub"
    "slogan"
    "bilder"
    ;
}

#wrapper_hrl {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 200px auto;
    grid-template-areas: 
    "rub text"
    "picture2 text"
    "picture2 text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 400px 600px 100px;
    grid-template-areas: 
    "rub"
    "etik"
    "tjomme_bild"
    "tjomme_text"
    ;
}

#wrapper_om_oss {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    "rub text"
    "pic_om pic_om"
    ;
}



/* Homepage Computer mode*/

#rubrik {
    grid-area: rub;
    background-image: url(../img/main_hlr.jpg);
    background-size: cover;
    width: 100%;
} 

#Logga_om_oss {
    height: auto;
    width: 85%;
}


#slogan {
    grid-area: slogan;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slagord {
    padding: 15px;
    font-size: 1.5rem;

}

#mobil_bilder {
    grid-area: bilder;
    width: 100%;
    visibility: visible;
    background-color: #063d48;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.context_bild_main {
    border-radius: 50%;
    height: 50%;
    width: auto;

}



/* HRL Computer mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: #47676d;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#inledning_hlr {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    margin-top: 2px;
    color: white;
    width: 90%;
    word-spacing: 2px;
    font-size: calc(0.8vw + 0.8vh + 0.8vmin);
    z-index: 5;

}

.big_text {
    font-size: 4rem;
    margin-top: 60px;
}

#picture_hlr_1 {
    background-color:#47676d;
    grid-area: picture2;
    position: relative;
}

#bild1 {
    width: 50%;
    height: auto;
    position: absolute;
    left: 20%;
    bottom: 40px;
}

#text_hlr {
    grid-area: text;
    background-image: url("../img/dark_pulse.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
    list-style-type: circle;
    list-style: none;
}


#intro_7_steg {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color: orange;
    margin-bottom: 10px;
    font-size: 2rem;
    position: relative;
    margin-top: 25%;
}

.steg_7 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: calc(0.8vw + 0.8vh + 0.8vmin);

}







/* Din plikt Computer mode*/

#but_left {
    height: 100px;
    width: auto;
    position: absolute;
    z-index: 5;
    left: 10%;
}

#but_right {
    height: 100px;
    width: auto;
    position: absolute;
    z-index: 5;
    right: 10%;
}


#rubrik_din_plikt {
    grid-area: rub;
    background-color:#47676d;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: orange;
    font-size: 5rem;
}


#text_din_plikt {
    grid-area: etik;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    background-color:#355A61;
    overflow: visible;
    position: relative;
}

#plikt_bak {
    grid-area: etik;
    width: 50%;
    height: auto;
    position: relative;
    filter: brightness(40%);
    max-width: 900px;
    min-width: 600px;
}

#moral_text {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    width: 40%;
    min-width: 550px;
    max-width: 700px;
}

.line {
    font-size: 4rem;
    color: orange;
    letter-spacing: 0px;
}


#line_close {
    font-size: 4rem;
    color: orange;
    letter-spacing: -0.6rem;

}

#tjomme_bilder {
    grid-area: tjomme_bild;
    background-color: #213a3f;
    display:grid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tjomme_pic {
    width: 300px;
    height: auto;
}

#tjomme_replik {
    grid-area: tjomme_text;
    background-color: #213a3f;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.tjomme_snackar {
    color: white;
    font-size: calc(1vw +  1.2vh + 1.5vmin);

}


/* Om oss Computer mode*/

.color {
    color: orange;
    font-size: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
}

#color_big {
    color: orange;
    font-size: 6rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
}

#rubrik_om_oss {
    grid-area: rub;
    background-color: #263f45;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200%;
}

#Logga_om_oss {
    height: auto;
    z-index: 6;
    max-width: 900px;
}

#om_oss_intro {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    position: absolute;
    background-color: transparent;
    height: 50%;
    z-index: 5;
    width: 40%;
    font-size: calc(0.8vw + 0.8vh + 0.8vmin);
    color: rgb(255, 255, 255);
    left: 6%;
}

#text_om_oss {
    grid-area: text;
    position: absolute;
    padding-left: 35px;
    padding-top: 10%;
    right: 0px;
    height: 100%;
    width: 40%;
    background-color: #263f45;
    color: white;
    font-size: 1.3rem;
    filter:opacity(80%);
    z-index: 5;
    row-gap: 30px;
    
}

.text_inuti_oss {
    text-align: left;
    width: 50%;
}

#picture_om_oss {
    grid-area: pic_om;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(40%);
}

}