



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
}

/* Generella taggar */
nav {
    height: 100px;
    width: 100vw;
    background-color: var(--background_color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#263f45;
    font-family: 'Courier New', Courier, monospace;
}

/* Wrappers Phone mode*/
#wrapper_main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 200px;
    grid-template-areas:
    "rub"
    "slogan"
    "picture"
    ;
}

#wrapper_hrl {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "rub"
    "picture2" 
    "picture1"
    "text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "rub"
    "etik"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "rub"
    "pic2"
    "pic1"
    "text"
    ;
}


/* Responsiv layout taggar */
.links_visible {
    transform: translateY(500px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: rgb(255, 255, 255);
    border-radius: 20%;
    transition: all 0.5s;
}

#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 200px;
    position: absolute;
    top: -400px;
    background-color:#263f45;
    list-style: none;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    border-bottom-left-radius: 30px;
    transition: 0.5s;
    
    
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#link_list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/*Homepage phone mode*/
#rubrik {
    grid-area: rub;
    width: ;
    height: 100%;
    width: 100vw;
}

#main_back {
    width: 100vw;
    height: 100%;
    position: relative;
    background-color: red;
    visibility: hidden;


}

#Logga_om_oss {
    width: 200px;
    height: auto;
}

#rubrik_text {
    color: white;
    color: rgb(255, 255, 255);
    font-size: 6rem;
    
}

#picture_main {
    grid-area: picture;
    background-color: #355A61;
    display: flex;
    align-items: center;
    justify-content: center;

}



#slogan {
    grid-area: slogan;
    background-color:#355A61;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.slagord {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Arial, sans-serif;


}

#context_bild_main {
    width: 200px;
    height: auto;
    border-radius: 20%;
}

.slagord {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    font-size: small;
    position: relative;
    left: 20px;
}


#context_bild_main_1 {
    /* position: absolute;
    left:  150px;
    bottom: -20px;
    width: 260px;
    height: auto;
    border-radius: 50%; */
    visibility:hidden;

}

#context_bild_main_2 {
    /* position: absolute;
    left:  400px;
    bottom: 300px;
    width: 200px;
    height: auto;
    border-radius: 50%; */
    visibility:hidden;
}

#context_bild_main_3 {
    /* position: absolute;
    left:  100px;
    bottom: 400px;
    width: 200px;
    height: auto;
    border-radius: 50%; */
    visibility:hidden;
}

#context_bild_main_4 {
    /* position: absolute;
    left:  75%;
    bottom: 35px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    z-index: 5; */
    visibility:hidden;
}

#context_bild_main_5 {
    /* position: absolute;
    left:  85%;
    bottom: 300px;
    width: 150px;
    height: auto;
    border-radius: 50%; */
    visibility:hidden;
}
    
/* HRL Phone mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: red;
    height: 100%;
    width: 100%;
}

#text_hlr {
    grid-area: text;
    background-color: green;
}

#picture_hlr_2 {
    grid-area: picture1;
    background-color: blue;
}

#picture_hlr_1 {
    background-color: purple;
    grid-area: picture2;
}

#bild1 {
    width: 100px;
    height: auto;
    position: absolute;
    left: 20%;
    bottom: 40px;
}



/* Din plikt Phone mode*/

#rubrik_din_plikt {
    grid-area: rub;
    background-color: red;
    height: 100%;
}

#text_din_plikt {
    grid-area: etik;
    background-color: green;

}

/* Om oss Phone mode*/

#rubrik_om_oss {
    grid-area: rub;
    background-color: red;
    height: 100%;
}

#text_om_oss {
    grid-area: text;
    background-color: green;
}

#picture_om_oss_1 {
    background-color: purple;
    grid-area: pic1;
    
}

#picture_om_oss_2 {
    grid-area: pic2;
    background-color: blue;
}


@media screen and (min-width: 800px) {

/*Burger tranformation*/
#burger {

    display: none;
    }
    
    #link_list {
        flex-direction: row;
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0px;
        justify-content: space-evenly;
        
    }

    #link_list a {
        font-size: 30px;
    }
    
    li {
        background-color:#355A61;
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: underline;
        text-decoration-color: orange;
    }

    li:hover {
        background-color: #263f45;
        color: white;
        border-bottom: 10px solid black;
        transition: 0.2s;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    a { 
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/* Wrappers computer mode*/

#wrapper_main {
        display: grid;
        height: 100vh;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 400px 600px;
        grid-template-areas: 
        "rub rub"
        "slogan picture"
        ;
}

#wrapper_hrl {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 200px auto;
    grid-template-areas: 
    "rub text"
    "picture2 text"
    "picture2 text"
    ;
}

#wrapper_din_plikt {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 200px 500px;
    grid-template-areas: 
    "rub"
    "etik"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 200px 350px;
    grid-template-areas: 
    "rub text"
    "pic1 pic1"
    "pic1 pic1"
    ;
}



/* Homepage Computer mode*/
#rubrik {
    grid-area: rub;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

}

#main_back {
    width: 100%;
    height: 400px;
    position: absolute;
    filter: brightness(60%);
    visibility: visible;

}

#rubrik_text {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    filter: brightness(100%);
}

#picture_main {
    grid-area: picture;
    background-color: #355A61;
    position:relative;
    overflow:hidden;

}



#context_bild_main_1 {
    position: absolute;
    left:  150px;
    bottom: -20px;
    width: 260px;
    height: auto;
    border-radius: 50%;
    visibility:hidden;
    visibility:visible;
}

#context_bild_main_2 {
    position: absolute;
    left:  400px;
    bottom: 300px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    visibility:visible;
}

#context_bild_main_3 {
    position: absolute;
    left:  100px;
    bottom: 400px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    visibility:visible;

}

#context_bild_main_4 {
    position: absolute;
    left:  75%;
    bottom: 35px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    z-index: 5;
    visibility:visible;

}

#context_bild_main_5 {
    position: absolute;
    left:  85%;
    bottom: 300px;
    width: 150px;
    height: auto;
    border-radius: 50%;
    visibility:visible;

}


#slogan {
    grid-area: slogan;
    background-color:#355A61;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;

}

.slagord {
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    width: 400px;
    left: 40px;
    border: 40px solid #2c4a51;
    background-color: #2c4a51;
    border-radius: 60%;

}

#utstickare {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 400px;
    border: 40px solid #2c4a51;
    background-color: #2c4a51;
    border-radius: 60%;
    position: absolute;
    left: 280px;
    margin: 10px;
    z-index: 5;
}

/* HRL Computer mode*/
#rubrik_hrl {
    grid-area: rub;
    background-color: #47676d;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#inledning_hlr {
    margin-top: 2px;
    color: white;
    width: 80%;
    word-spacing: 2px;
    font-size: 20px;

}

.big_text {
    font-size: 60px;
    margin-top: 60px;
}

#picture_hlr_1 {
    background-color:#47676d;
    grid-area: picture2;
    position: relative;
}

#bild1 {
    width: 350px;
    height: auto;
    position: absolute;
    left: 20%;
    bottom: 40px;
}

#x1_axel {
    position: absolute;
    bottom: 15px;
    right: 25%;
    display: flex;
    flex-direction: row;
    width: 340px;
    justify-content: space-between;
    letter-spacing: 24px;
    color: rgb(255, 102, 0);
}

#y1_axel {
    position: absolute;
    right: 90%;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 5px;
    font-size: medium;
    color: rgb(255, 102, 0);
}

#text_hlr {
    grid-area: text;
    background-color:#47676d;
    /*transform: skew(20deg);*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


#intro_7_steg {
    color: white;
    margin-bottom: 10px;
    font-size: x-large;
    position: relative;
    margin-top: 25%;
}

.steg_7 {
    color: white;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;

}






/* Din plikt Computer mode*/

#rubrik_din_plikt {
    grid-area: rub;
    background-color:#47676d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: orange;
    font-size: 3rem;
}


#text_din_plikt {
    grid-area: etik;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color: white;
    font-size: larger;
    background-color:#355A61;
    overflow: visible;
    position: relative;
}

#plikt_bak {
    width: 85%;
    height: auto;
    position: relative;
    filter: brightness(40%);
}

#moral_text {
    font-size: 2rem;
    color: white;
    position: absolute;
    width: 70%;
}

.line {
    font-size: 4rem;
    color: orange;
    letter-spacing: 0rem;
}

.line_small {
    font-size: 3rem;
    color: orange;
    word-spacing: 0px;
}

/* Om oss Computer mode*/


#rubrik_om_oss {
    grid-area: rub;
    background-color: #263f45;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200%;
}

#Logga_om_oss {
    width: 600px;
    height: auto;
    z-index: 6;
}

#om_oss_intro {
    position: absolute;
    top: 330px;
    z-index: 5;
    width: 40%;
    font-size: 1.3rem;
    color: white;
    left: 6%;
    background-color: ;


}

#text_om_oss {
    grid-area: text;
    height: 560px;
    background-color: #263f45;
    color: white;
    display: flex;
    position: relative;
    font-size: 1.8rem;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 200px;
    text-align: center;
    filter:opacity(80%);
    overflow: visible;
    z-index: 5;
}

#picture_om_oss_1 {
    background-image: url(/img/Om_oss_2.jpg);
    background-position: center;
    height: 360px;
    background-size: cover;
    filter: brightness(50%);
    grid-area: pic1;
    
}

    }







